<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">
  <test thread-count="5" name=" Bank Manager LoginTest">
    <classes>
      <class name="com.madhukar.testcases.BankManagerLoginTest"/>
    </classes>
  </test> <!-- Test -->
 
   <test thread-count="5" name="AddCustomerTest">
    <classes>
      <class name="com.madhukar.testcases.AddCustomerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
